/* Here you can adjust NUI colors */
/* DONT CHANGE COLOR FORMAT! It's must stay as 3 numbers separated with spaces representing rgb format */

:root {
	--color-accent: 22 100 70;
	--color-danger: 255 0 61;
	--color-background-primary: 10 45 25;
	--color-text-primary: 255 255 255;
	--color-text-secondary: 235 235 245;
}

/*:root {
	--color-accent: 22 100 70; /* Dark green accent (more visible) 
	--color-danger: 255 50 50; /* Vivid red for alerts
	--color-background-primary: 10 45 25; /* Dark green background
	--color-text-primary: 255 230 230; /* Light pinkish white text
	--color-text-secondary: 200 150 150; /* Softer secondary text 
}*/